<div class="container" style="margin-top: 10px;">
  <h1>Tell your device what to do!</h1><br>
  <br>
  <div class="alert alert-primary" role="alert">
  	<h2>{{$ctrl.led_query}}</h2>
  </div>
  <br>
  <div class="form-container">
  	 <div class="led-buttons">
		 <input type="radio" id="on" name="led" value="on" ng-model="$ctrl.led_query">
		 <label for="on" id="label-on">ON</label>
		 <input type="radio" id="off" name="led" value="off" ng-model="$ctrl.led_query">
		 <label for="off">OFF</label>
	 </div>
	 <button ng-click="$ctrl.setLed($ctrl.led_query)" class="btn btn-primary" id="submit-led">Submit</button>
  </div>
  <style>
  	.form-container{
  		display: flex;
  		justify-content: center;
  		flex-direction: column;
  	}
  	.led-buttons{
  		display: flex;
  		justify-content: center;
  		align-items: baseline;
  	}
	#label-on{
		margin-right: 5px;
	}
  </style>
  <br>
  <br>
  <p>{{$ctrl.response}}</p>
  <br>
</div>
